/* stylelint-disable custom-property-pattern */

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header .nav-wrapper nav {
  display: grid;
  grid-template:
    'hamburger brand search'
    'main main main'
    'tools tools tools'
    'login login login'
    'triage triage triage';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: var(--nav-height) auto;
  padding: var(--qui-spacing-0) var(--qui-spacing-16);
  color: var(--qui-alias-color-text-default);
  font-family: var(--body-font-family);
}

header .nav-wrapper nav[aria-expanded='true'] {
  min-height: 100dvh;
  grid-template-rows: var(--nav-height) auto auto 1fr auto;
  overflow-y: auto;
}

@media (width >= 900px) {
  header .nav-wrapper nav[aria-expanded='true'] {
    position: relative;
    min-height: 0;
    grid-template:
      'triage triage triage triage triage triage'
      'brand main main search tools login';
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: auto var(--nav-height);
    gap: 0 var(--qui-spacing-16);
    align-items: center;
    padding: var(--qui-spacing-0) var(--qui-spacing-0);
    overflow: visible;
  }
}

header .nav-wrapper nav p {
  margin-bottom: 0;
}

/* nav overlay */
header .nav-wrapper .nav-overlay {
  display: none;
}

@media (width >= 900px) {
  header .nav-wrapper:has(.nav-drop[aria-expanded='true']) .nav-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .6;
    background-color: var(--qui-color-absolutes-black);
  }
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  align-self: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
  }
}

/* submenus */
header nav .nav-submenu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav .nav-submenu .nav-drop-menu > li {
  font-family: var(--qui-alias-typography-heading-heading-5-font-fontFamily);
  font-size: var(--qui-alias-typography-heading-heading-5-font-size-breakpoint-xs);
  font-weight: var(--qui-alias-typography-heading-heading-5-font-fontWeight);
  letter-spacing: var(--qui-alias-typography-heading-heading-5-font-letterSpacing);
  line-height: var(--qui-alias-typography-heading-heading-5-font-lineHeight);
}

header nav .nav-submenu .nav-drop,
header nav .nav-submenu .nav-drop-menu > li > ul > li {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--qui-color-union-blue-500);
  text-decoration: none;
  font-family: var(--qui-components-link-typography-link-standalone-rg-fontFamily);
  font-size: var(--qui-components-link-typography-link-standalone-rg-fontSize);
  font-weight: var(--qui-components-link-typography-link-standalone-rg-fontWeight);
  letter-spacing: var(--qui-components-link-typography-link-standalone-rg-letterSpacing);
}

header nav .nav-submenu .nav-drop {
  display: flex;
  line-height: 1.8;
}

header nav .nav-submenu .nav-drop > ul {
  display: none;
}

header nav .nav-submenu .nav-drop-menu > li > ul {
  margin-top: 16px;
}

header nav .nav-submenu .nav-drop-menu > li > ul > li {
  line-height: var(--qui-components-link-typography-link-standalone-rg-lineHeight);
}

header nav .nav-submenu .nav-drop[aria-expanded='true'] > ul {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  inset: var(--nav-height) 0 0;
  z-index: 1;
  background-color: var(--background-color);
  padding: var(--qui-spacing-0) var(--qui-spacing-16);
  overflow-y: auto;
}

header nav .nav-submenu .nav-drop .qui-icon {
  margin-left: auto;
}

header nav .nav-submenu .nav-drop-menu > li:nth-child(1n + 3) {
  margin-top: 48px;
}

header nav .nav-submenu ul.nav-drop-menu > li a[cta-appearance="link"] {
  color: inherit;
  text-decoration: none;
}

header nav#nav .nav-submenu ul.nav-drop-menu > li .qui-cta a[cta-appearance="link"]:hover {
  color: var(--qui-color-union-blue-500);
  text-decoration: underline;
}

header nav .nav-submenu ul.nav-drop-menu > li a[cta-appearance="link"] .qui-icon svg {
  color: var(--qui-color-union-blue-500);
}

@media (width >= 900px) {
  header nav .nav-submenu .nav-drop {
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
  }

  header nav .nav-submenu .nav-drop .qui-icon {
    margin-left: auto;
    transform: rotate(90deg);
  }

  header nav .nav-submenu .nav-drop[aria-expanded='true'] .qui-icon {
    transform: rotate(270deg);
  }

  header nav .nav-submenu ul {
    display: flex;
    gap: 24px;
  }

  header nav .nav-submenu .default-content-wrapper > ul > li > ul > li > ul {
    flex-flow: column wrap;
    gap: .25rem;
  }

  header nav .nav-submenu .nav-drop[aria-expanded='true'] > ul {
    flex-flow: row wrap;
    top: 100%;
    bottom: initial;
    white-space: initial;
  }

  header nav .nav-submenu .nav-drop[aria-expanded='true'] > ul:not(:has(ul)) {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

/* mobile back button */
header nav .nav-submenu .nav-drop-menu .nav-drop-menu-exit {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--qui-nav-back-button-border);
  margin-bottom: 24px;
  font-family: var(--qui-components-link-typography-link-standalone-rg-fontFamily);
  font-size: var(--qui-components-link-typography-link-standalone-rg-fontSize);
  font-weight: var(--qui-components-link-typography-link-standalone-rg-fontWeight);
}

header nav .nav-drop-menu .nav-drop-menu-exit .qui-icon {
  margin-left: initial;
  margin-right: 6px;
}

@media (width >= 900px) {
  header nav .nav-drop-menu .nav-drop-menu-exit {
    display: none;
  }
}

/* triage */
header nav .nav-triage {
  display: none;
  grid-area: triage;
}

header nav[aria-expanded='true'] .nav-triage {
  display: block;
  margin-top: auto;
  padding-bottom: var(--qui-spacing-48);
}

@media (width >= 900px) {
  header nav[aria-expanded='true'] .nav-triage {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: var(--qui-spacing-8) var(--qui-spacing-40);
    background-color: var(--qui-color-warm-gray-100);
    font-size: var(--qui-typography-font-size-14);
  }

  header nav .nav-triage .default-content-wrapper > ul {
    display: flex;
    gap: 1rem;
  }

  header nav .nav-submenu.nav-triage .nav-drop[aria-expanded='true'] > ul {
    right: 40px;
    left: initial;
    padding: 1rem 3rem;
    background-color: var(--qui-color-warm-gray-100);
  }

  header nav .nav-triage .default-content-wrapper > ul > li {
    padding: var(--qui-spacing-0);
    font-size: var(--qui-typography-font-size-14);
  }
}

/* brand */
header nav .nav-brand {
  grid-area: brand;
  text-align: center;
  align-self: center;
}

header nav .nav-brand .icon-tiaa-brand-logo {
  width: auto;
  height: 2rem;
}

@media (width >= 900px) {
  header nav .nav-brand {
    margin-left: var(--qui-spacing-40);
    margin-right: var(--qui-spacing-16);
  }
}

/* main */
header nav .nav-main {
  display: none;
  grid-area: main;
}

header nav[aria-expanded='true'] .nav-main {
  display: block;
  align-self: start;
}

@media (width >= 900px) {
  header nav .nav-main {
    display: block;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-main {
    align-self: center;
  }

  header nav .nav-main .nav-drop {
    padding-right: 16px;
  }

  header nav .nav-submenu.nav-main .nav-drop[aria-expanded='true'] > ul {
    left: 40px;
    right: 40px;
    padding: var(--qui-spacing-40) var(--qui-spacing-80) var(--qui-spacing-48);
    background-color: var(--qui-alias-color-background-default);
  }
}

/* search */
header nav .nav-search {
  grid-area: search;
  align-self: center;
}

/* tools */
header nav .nav-tools {
  display: none;
  grid-area: tools;
}

header nav[aria-expanded='true'] .nav-tools {
  display: block;
  margin-top: 48px;
}

header nav .nav-tools .button-container + .button-container {
  margin-top: 16px;
}

header nav .nav-tools .qui-cta {
  width: 100%;
}

@media (width >= 900px) {
  header nav .nav-tools .default-content-wrapper {
    display: flex;
    gap: var(--qui-spacing-16);
  }

  header nav[aria-expanded='true'] .nav-tools {
    margin-top: 0;
  }
  
  header nav .nav-tools .button-container + .button-container {
    margin-top: 0;
  }

  header nav .nav-tools .qui-cta {
    width: auto;
  }
}

/* login */
header nav .nav-login {
  display: none;
  grid-area: login;
}

header nav[aria-expanded='true'] .nav-login {
  display: block;
  margin-top: 16px;
}

header nav .nav-login .qui-cta {
  width: 100%;
}

@media (width >= 900px) {
  header nav[aria-expanded='true'] .nav-login {
    margin-top: 0;
    margin-right: var(--qui-spacing-40);
  }

  header nav .nav-login .qui-cta {
    width: auto;
  }
}