main > .section.hero-container {
    padding: 0 80px;
    margin: 0;
}

.hero-container .hero-wrapper {
    max-width: unset;
    padding: 0;
}

.hero h1 {
    margin-bottom: var(--qui-spacing-0);
}

.hero > div {
    display: flex;
}

.hero.container {
    padding: var(--qui-spacing-0);
}

.hero.pathing-hero h1 {
    padding-top: var(--qui-spacing-32);
}

.hero.pathing-hero h2 {
    padding-top: var(--qui-spacing-80);
    margin-bottom: var(--qui-spacing-0);
}

.hero.pathing-hero .hero-image {
    margin-top: var(--qui-spacing-32);
    aspect-ratio: 3 / 4;
    width: 509px;
    height: 680px;
    position: var(--qui-position-relative);
    overflow: var(--qui-overflow-hidden);
    z-index: 10;
}

.hero.pathing-hero .hero-group {
    padding-top: var(--qui-spacing-32);
}

.hero.standard-hero-overlap {
    padding-top: var(--qui-spacing-80);
    padding-bottom: var(--qui-spacing-64);
}

.hero.standard-hero-overlap .hero-group {
    padding: var(--qui-spacing-24) var(--qui-spacing-0) var(--qui-spacing-40) var(--qui-spacing-0);
    padding-bottom: 7.5rem;
}

@media (width < 600px) {
    .hero > div {
        flex-direction: column;
    }
}
